@charset "utf-8";
/* CSS Document */
*{border:none; padding:0; margin:0;}
html{color:#000;background:#FFF;}
body{padding:0; margin:0;font-size:14px;font-family:"微软雅黑";}
div,ul,li,h1,p,span,a{margin:0; padding:0;}
ul,li{list-style:none;}
h1{ text-align:center;}
p{ font-size:16px; text-indent:2em;font-family:"Microsoft YaHei";}
a{ text-decoration:none; color:#0099FF;}